<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Our Rails Project
      </h1>
    </div>
  </div>
</section>
<% end %>




<div class="instrument-index-grid pt4">
  <% @products.each do |product| %>


  <div class="pa3">

    <h3 class="fw7 f4 title"><%= link_to product.title, product %></h3>

    <p class="has-text-gray fg pt1">Sold by <%= product.user_email %></p>

    <p>
      <% if(product.images.attached?) %>
      <strong>Image:</strong>
      <div class="card-deck my-2 float-right">

        <% product.images.each do |pic| %>
        <div class="card mx-2">
          <%= image_tag pic ,width:"100" ,height:"100"%>
        </div>
        <% end %>

      </div>
      <% end %>
    </p>

    <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>



  </div>
</div>
<% end %>
</div>


