    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="container">
        <div class="inner-header">


          <div class="row">
            <div class="col-lg-2 col-md-2">
              <div class="logo">
                <a href="/">
                  <%= image_tag('/images/logo.png') %>
                </a>
              </div>
            </div>
            <div class="col-lg-7 col-md-7">
              <!-- <div class="advanced-search "></div> -->
                <form action="/search" class="input-group">
                  <input type="text" name="q" placeholder="What do you need?">
                  <input type="submit" class="btn btn-warning fas fa-search">
                </form>
               <!-- </div> -->
            </div>
            <div class="col-lg-3 text-right col-md-3">
              <ul class="nav-right">
                <li class="cart-icon">
                  <a href="#">
                    <i class="fas fa-cart-plus"></i>
                    <span>3</span>
                  </a>
                  <div class="cart-hover">
                </li>
                <li class="cart-price">$.00</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </header>
